<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sensores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sensor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">Sensor</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <form [formGroup]="sensorForm" (ngSubmit)="saveSensor()">
    <ion-item>
        <ion-label position="floating">Descrição do sensor</ion-label>
        <ion-input formControlName="descricao"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Localização do sensor</ion-label>
        <ion-input formControlName="localizacao"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full" [disabled]="!sensorForm.valid">Salvar</ion-button>
</form>

</ion-content>
