<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listagem de Sensores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let sensor of sensores">
      <ion-label>
        <h2>{{ sensor.descricao }}</h2>
        <p>Localização: {{ sensor.localizacao }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>